<div class="container mt-5 mb-5">
  <div class="card shadow-sm p-4">
    <h2 class="mb-4"><i class="fas fa-user-circle mr-2"></i> マイページ</h2>

    <div class="mb-3">
      <% if current_user.profile_image.attached? %>
        <%= image_tag current_user.profile_image, size: "200x200", class: "img-thumbnail rounded-circle" %>
      <% else %>
        <%= image_tag "no_image.jpg", size: "200x200", class: "img-thumbnail rounded-circle" %>
      <% end %>
    </div>
    <div class="mb-3">
      <strong>ユーザー名：</strong> <%= current_user.user_name %>
    </div>
    <div class="mb-3">
      <strong>メールアドレス：</strong> <%= current_user.email %>
    </div>

    <% if current_user.introduction.present? %>
      <div class="mb-3">
        <strong>自己紹介</strong>
        <p><%= current_user.introduction %></p>
      </div>
    <% end %>

    <div class="col-3">
      <%= link_to edit_user_path(current_user), class: "btn btn-outline-primary" do %>
        <i class="fas fa-user-edit mr-2"></i> 編集する
      <% end %>
    </div>
  </div>

  <h3 class="mt-5 mb-3">投稿レビュー一覧</h3>

  <% if @posts.any? %>
    <div class="list-group">
      <% @posts.each do |post| %>
        <div class="list-group-item mb-3 p-3 shadow-sm">
          <div class="row align-items-center">
            <!-- 画像 -->
            <div class="col-md-4 text-center">
              <% if post.game.game_image.attached? %>
                <%= image_tag post.game.game_image, size: "300x300", class: "img-fluid rounded" %>
              <% else %>
                <%= image_tag "no_image.png", size: "300x300", class: "img-fluid rounded", alt: "No image" %>
              <% end %>
            </div>

            <div class="col-md-8 mb-4">
              <div class="card shadow-sm h-100">
                <div class="card-body">
                  <!-- ゲーム情報 -->
                  <h5 class="card-title"><strong>ゲーム：</strong> <%= post.game.game_name %></h5>
                  <p><strong>評価：</strong> <%= "★" * post.score %></p>
                  <p><strong>タイトル：</strong> <%= post.post_title %></p>
                  <small class="text-muted">投稿日：<%= post.created_at.strftime("%Y/%m/%d %H:%M") %></small>
                </div>

                <div class="col-md-2 mb-4">
                  <!-- 詳細ボタン -->
                  <%= link_to '詳細', post_path(post), class: "btn btn-primary" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>まだレビューはありません。</p>
  <% end %>

</div>
